<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <p class="navbar-brand"><strong>News</strong></p>
        </div>
        <ul class="nav navbar-nav navbar-text">
                <li><a href="/">Home</a></li>
                <li><a href="/articles/saved" id="saved">Saved</a></li>
                <li><a href="/scrape" id="scrape">Scrape New Articles</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 text-center">
            <h3>No New Articles</h3>
        </div>
    </div>
</div>