<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <p class="navbar-brand"><strong>News</strong></p>
        </div>
        <ul class="nav navbar-nav navbar-text">
                <li><a href="/">Home</a></li>
                <li><a href="/articles/saved" id="saved">Saved</a></li>
                <li><a href="/scrape" id="scrape">Scrape New Articles</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 text-center">
            <div id="new">
                <a href="/articles" class="btn btn-secondary" id="all-articles" role="button">See All Articles</a>
            </div>
        </div>
    </div>
    <div class="row" id="articles">
        {{#each articles}}
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div id="each-article">
                    <a href={{this.link}}>{{this.title}}</a>
                    <p>{{this.summary}}</p>
                    <button id="save-article" data-id="{{this._id}}">Save Article</button>
                </div>
            </div>
        {{/each}}
    </div>
</div>

